@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic');

body {
	font-size: 14px;
	line-height: 18px;
	color: #000;
	font-family: 'Roboto', sans-serif;
	
}
input[type="checkbox"] {
	width: 17px;
	height: 17px;
	margin-top: 8px;
}
.top-block {
	background-color: #000;
	padding-top: 8px;
	color: #fff;
}
.top-block a {
	color: #fff;
}
.top-block a:hover, .menu-top nav a:hover {
	
	
	color: #00b2b0;
	text-decoration: none;
	transition: 0.4s;
	
}
.top-block ul {
	margin-top: 10px;
}
.top-block ul li {
	border-left: 1px solid #585858;
}
.top-block ul li:first-child {
	border: none;
}

.col-md-12 {
	text-align: center;
}
.logo, .logo-black  {
	display: block;
	height: 17px;
	width: 115px;
}
.logo {
	background: url(../img/main-logo.png) no-repeat;	
}
.logo-black {
	background: url(../img/main-logo-black.png) no-repeat;
}
.gray {
	color: #c0c0c0;
}
.menu-top {
	padding-top:50px;
}
.menu-top-black {
	padding: 30px 0 14px;
}

.menu-top ul, .menu-top-black ul {
	text-transform: uppercase;
	
}

.menu-top nav a, .menu-top-black nav a{
	display: block;
}
.menu-top nav a {
	color: #fff;
}
.menu-top-black nav a {
	color: #000;
}
.cart-black {
	background: url(../img/cart-black.png) no-repeat 0 2px;
}
.cart {
	background: url(../img/cart.png) no-repeat 0 2px;
	color: #fff;
}
.cart, .cart-black {
	padding-left: 28px;
	line-height: 16px;
    position: relative;
    top: -6px;
}
.bc {
	background: url(../img/top-menu-bg.gif) repeat-x top;
}
.bc h1 {
	margin-top: 0;
	font-size: 26px;
	font-weight: bold;
}
.bc h2 {
	font-size: 22px;
}
.bc h3 {
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 0 15px;
}
.breadcrumbs {
	color: #9f9f9f;
	font-size: 16px;
    line-height: 76px;
}
.breadcrumbs a {
	color: #000;
}
.collect-descr {
	font-size: 17px;
	line-height: 19px;
}
.search-ico-style {
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.menu-top-black .search-ico-style {
	color: #000;
}
.search-ico-style:hover {
	color: #00b2b0;
	transition: 0.4s;
}
.search-button-style {
	background: none;
	border: none;
}
.main-slider-wrapper {
	background: url(../img/bg-slider.jpg) no-repeat;
	background-size: cover;
    background-position: 100% 100%;
    background-color: #464646;
    min-width: 100%;
	height: 650px;
}
.title-slider {
	font-size: 46px;
	font-family: 'Roboto Black', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
	color: #fff;
}
.text-slider {
	text-transform: uppercase;
	line-height: 20px;
	color: #fff;
}
/* .carousel-inner {
	transition-delay: 2;
	padding: 150px 110px;
} */
.carousel-inner .item  {
	padding: 150px 110px;
}

.carousel-control.left , .carousel-control.right {
	background: none;
}
.catalog-title {
	color: #929292;
	padding: 8px 0;
	
}
.col-lg-2 .color {
	margin-top: 45px;
}
.col-lg-2 .country {
	margin-top: 20px;
}
.circle {
	border-radius: 50%;
    display: inline-block;
    position: relative;
	top: 1px;
}
.checkbox-custom {
	margin-right: 5px;
}
.label {
	margin-left: 5px;
}

.menu-lable {
	display: inline;
    position: relative;
    top: -4px;
}
.color label, .country label {
	display: block;
}
.country .catalog-title {
	margin-bottom: 5px;
}
.show-more {
	color: #00b2b0;
	text-decoration:none;
}

.show-more:hover {
	color: #00b2b0;
	text-decoration: underline;
}
.show-more:focus {
	color: #00b2b0;
	text-decoration:none;
}
 
/******checkbox******/
.checkbox {
    display: none;
}
 
.checkbox-custom {
    position: relative;      
    width: 18px;             
    height: 18px;            
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.apply, .reset, .collect-button {
	width: 148px;
	font-size: 13px;
	background-image: none;
	text-shadow: none;
	line-height: 26px;
	margin: 5px 0;
}
.apply {
	background-color: #00b2b0 !important;
	color: #fff;
	border: none;
	margin-top: 15px;
}
.reset {
	color: #929292;
}
.collect-button {
	width: 300px;
	color: #00b2b0;
	border: 1px solid #00b2b0;
	margin-top: 30px;
}
.collect-button:hover {
	background-color: #00b2b0 !important;
	color: #fff;
}
.collect-good {
	float: left;
	margin-right: 30px;
	width: 200px;
	padding: 0 15px;
	margin-bottom: 10px;
}
.manufact {
	padding-top: 40px;
}
.manuf-text {
	background-color: #f2f2f2;
	padding: 40px;
	font-size: 17px;
    line-height: 19px;
	margin-bottom: 40px;
}
.manuf-text h1 {
	font-size: 25px;
	font-weight: 500;

}
.wrap {
	margin-top: 47px;
}
.main-title {
	padding: 0;
	margin: 0 0 30px;
	font-size: 25px;
}
.sorting {
	line-height: 31px;
}
input, textarea, select, option {
	outline:none;
	
}
textarea:focus, input:focus, select:focus, option:focus{
	outline: none;
}
.sorting select {
	padding: 5px 6px;
	border-radius: 4px;
	border-color: #e0e0e0;
	
}
.sorting {
	text-align: right;
	padding-right: 14px;
}
.cat-tile-label {
	margin: 12px 0;
	display: block;
}
.cat-price {
	font-size: 19px;
	color: #00b2b0;
	margin-bottom: 45px;
}
.cat-price span {
	color: #9f9f9f;
}
.pagi-fer ul li a {
	color: #000 !important;
}
.pagi-fer .active a {
	background-color: #e0e0e0!important;
	border-color: #e0e0e0!important;
}
.pagi-fer .pagination>li>a {
	padding: 4px 12px 3px !important;
}
footer {
	background-color: #2b2a2b;
	padding-top: 90px;
	padding-bottom: 90px;
}
.footer-logo {
	background: url(../img/main-logo.png) no-repeat;
	padding-top: 60px;
}
.footer-info {
	color: #9f9f9f;
}
.footer-adress, .footer-phone, .footer-email, .footer-site {
	padding-left: 30px;
	margin: 13px 0;
}
.footer-adress {
	background: url(../img/ico-map.png) no-repeat 3px 0;
	margin-top: 30px;
}
.footer-phone {
	background: url(../img/ico-phone.png) no-repeat 4px 0;
}
.footer-email {
	background: url(../img/ico-email.png) no-repeat 1px 0;
}
.footer-site {
	background: url(../img/ico-site.png) no-repeat;
}
.footer-menu-title {
	font-size: 25px;
	color: #fff;
	height: 60px;
}
.footer-menu-title span {
	padding-bottom: 14px;
	border-bottom: 1px solid #424242;
}
footer ul {
	padding: 0;
}
footer ul li {
	list-style-type: none;
	padding: 5px 0;
}
footer a { 
	color: #cecece;
}
footer a:hover {
	color: #cecece;
}
footer ul li a {
	color: #cecece;
	font-size: 17px;
}
.subscribe_input {
	line-height:48px;
	padding-left: 20px;
    border-radius: 8px;
	padding-right: 60px;
	width:100%;
	border: none;
}
.subscribe_input-submit {
	background: url(../img/subscrebe-submit.png) no-repeat;
    width: 52px;
    height: 50px;
    border: none;
    position: absolute;
    top: 60px;
    right: 15px;
}
.form-subscribe {
	padding-bottom: 40px;
	border-bottom: 1px solid #424242;
	margin-bottom: 27px;
}
.social-links a {
	display: block;
	padding-left: 25px;
	line-height: 16px;
	margin-right: 22px;
	margin-bottom: 15px;
	float: left;
}
.social-links a:hover {
	color: #cecece;
}
.social-links a:nth-child(1) {
	background: url(../img/ico-vk.png) no-repeat 0 4px;
}
.social-links a:nth-child(2) {
	background: url(../img/ico-fb.png) no-repeat 0 1px;
}
.social-links a:nth-child(3) {
	background: url(../img/ico-tw.png) no-repeat 0 3px;
}
.social-links a:nth-child(4) {
	background: url(../img/ico-insta.png) no-repeat 0 1px;
}
.social-links a:nth-child(5) {
	background: url(../img/ico-pin.png) no-repeat 0 1px;
}
.modal .apply {
	margin-top: 5px;
}
.manuf-title {
	float: left;
	position: relative;
	top:10px;
	left: 20px;
	font-size: 20px;
}
.manuf-label {
	display: block;
	font-size: 25px;
	margin: 30px 0 15px;
}
.manuf-descr {
	font-size: 16px;
}
.modal-header {
	border-bottom: none;
}

.manuf-field {
	margin-bottom: 80px;
}

.manuf-img-wrap {
	height: 368px;
	display: table;
	border: 1px solid #eeeeee;
	width: 100%;
}

.manuf-img-wrap  div {
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}
.single-page-wrapper {
	margin-bottom: 20px;
}
.single-page-title {
	font-size: 22px !important;
}
.single-page-wrapper {
	
}
.single-page-content div {
	display: table;
	float: left;
	margin: 0 10px 10px 0;
}
.single-page-content div div {
	display: table-cell;
    vertical-align: middle;
	text-align: center;
	height: 200px;
	float: none;
}
.single-page-content p {
	margin: 0 0 20px;
    font-size: 15px;
    line-height: 20px;
}
.articles-row {
	padding-bottom: 30px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 30px;
}
.articles-title {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	
}
.articles-text {
	font-size: 15px;
}
.tumbnails {
	margin-top: 10px;
}
.social-ico {
	margin: 30px 0 0;
}
.good-sale {
	color: #fff;
	background-color: #00b2b0;
	padding: 8px 10px;
	border-radius: 5px;
	display: inline-block;
}
.float-left {
	float: left;
}
.stock-in {
	color: #00b2b0;
	line-height: 34px;
	margin-left: 90px;
}
.good-title {
	font-weight: 500 !important;
}
.property {
	font-size: 19px;
	line-height: 60px;
}
.property-table td{
	font-size: 15px;
	padding: 5px 50px 5px 10px;
}
.property-table td:first-child {
	color: #9f9f9f;
}
.visio {
	background: url(../img/3d-visio.png) no-repeat;
	width: 230px;
	height: 57px;
	margin-top: 67px;
}
.price {
	font-size: 28px;
	color: #00b2b0;
	float: left;
	line-height: 60px;
}
.price-block {
	display: table;
	float: left;
}
.price span {
	font-size: 18px;
	color: #9f9f9f;
	text-decoration: line-through;
	margin-left: 10px;
}
.quantity {
	display: table-cell;
	vertical-align: middle;
}
.quantity input {
	padding: 12px 10px;
	width: 50px;
	height: 30px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin:0 10px 0 30px;
}
.cart-button {
	width: 300px;
	color: #00b2b0;
	font-size: 13px;
	background-image: none;
	text-shadow: none;
	line-height: 26px;
	border: 1px solid #00b2b0;
    margin: 12px 0 0 30px;
}
.cart-button:hover {
	background-color: #00b2b0 !important;
	color: #fff;
}
.list_inf_card {
	padding-left: 10px;
}
.list_inf_card li {
	margin-top: 8px;
}
.cart-table {
	width: 100%;
}
.cart-table td {
	padding: 5px;
	border-bottom: 1px solid #e0e0e0;
}

.cart-table .quantity input {
	margin-left: 0;
}
.total {
	font-size: 20px;
	text-align: right;
	margin: 20px 0 5px;
}
.total  span {
	font-weight: bold;
}
.min-price {
	text-align: right;
}
.cart-table a:hover {
	text-decoration: none;
}
.min-price {
	color: #cc0000;
}
.form-order {
	margin-top: 40px;
}
.form_card input, .form_card textarea {
	width: 100%;
	margin-bottom: 10px;
	height: 30px;
	border: 1px solid #e0e0e0; 
	border-radius: 4px;
	padding: 10px;
}
.form_card textarea {
	height: 100px;
}
.form_card p {
	margin:0 0 2px;
}
.form_card a{
	width: 100%;
	margin-left: 0;
	margin-bottom: 40px;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	position: relative;
    top: -4px;
	vertical-align: middle;
}
.color label {
	margin-bottom: 7px;
}
.country label  {
	margin-bottom: 14px;
}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
 
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
 
    background: #00b2b0;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}